body {
  background: #e8ecf7 !important;
  color: #666;
  font-weight: 500;
}
body * {
  font-family: "Rubik", sans-serif;
}

a {
  color: #666;
  transition: 2.8s;
}
a:hover {
  text-decoration: none;
  color: #0052CC;
}
a:active, a:focus, a:visited {
  color: #0052CC;
}

.primary-color {
  color: #0052CC;
}

.tm-btn {
  border-radius: 8px;
  font-size: 16px;
  color: #fff;
  background: #0052CC;
  padding: 10px 15px;
}
.tm-btn:hover {
  text-decoration: none;
  color: #fff;
}
.tm-btn:active {
  color: #fff;
}
.tm-btn:focus {
  color: #fff;
}
.tm-btn:visited {
  color: #fff;
}

.content {
  padding-top: 0 !important;
}

.tm-head {
  background: #fff;
  box-shadow: 10px 10px 10px #dbe0e7;
  border-radius: 10px;
  padding: 0;
  margin-top: 20px;
  color: #666;
  margin-bottom: 30px;
}
.tm-head h3 {
  float: left;
  font-size: 22px;
  color: #0052CC;
  padding: 0px 20px;
  line-height: 82px;
  font-weight: 500;
  box-shadow: 8px 2px 6px #eee;
  min-width: 25%;
  margin: 0;
}
.tm-head .navigation {
  float: left;
}
.tm-head .navigation .link {
  position: relative;
  display: inline-flex;
  justify-content: center;
  margin-right: 50px;
  text-align: center;
  line-height: 80px;
  font-size: 16px;
  border-bottom: 2px solid transparent;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.tm-head .navigation .link:first-child {
  margin-left: 50px;
}
.tm-head .navigation .link::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: -4px;
  background: #0052CC;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.tm-head .navigation .link.active {
  color: #0052CC;
  border-bottom: 4px solid #0052CC;
}
.tm-head .navigation .link.active i {
  color: #0052CC;
}
.tm-head .navigation .link:hover {
  color: #0052CC;
}
.tm-head .navigation .link:hover:before {
  right: 0;
}
.tm-head .navigation .link:hover i {
  -webkit-transform: translateY(-4px);
  transform: translateX(-4px);
}
.tm-head .navigation .link i {
  float: left;
  font-size: 22px;
  margin-top: 28px;
  margin-right: 5px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.tm-head .filter {
  float: right;
  margin-right: 20px;
}
.tm-head .filter .link {
  font-size: 34px;
  line-height: 80px;
}
.tm-head .filter .link.dropdown-toggle::after {
  border: 0 !important;
}

/* List */
.list .list-head {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}
.list .list-head div:nth-child(1) {
  width: 35%;
}
.list .list-head div:nth-child(2) {
  width: 15%;
}
.list .list-head div:nth-child(3) {
  width: 15%;
}
.list .list-head div:nth-child(4) {
  width: 15%;
}
.list .list-head div:nth-child(5) {
  width: 15%;
}
.list .list-head div:nth-child(6) {
  width: 5%;
}
.list .list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  border-bottom: 1px solid #ccc;
  padding: 15px;
}
.list .list-item .list-child {
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 15px;
}
.list .list-item .list-child:nth-child(1) {
  width: 35%;
}
.list .list-item .list-child:nth-child(2) {
  width: 15%;
}
.list .list-item .list-child:nth-child(3) {
  width: 15%;
}
.list .list-item .list-child:nth-child(4) {
  width: 15%;
}
.list .list-item .list-child:nth-child(5) {
  width: 15%;
}
.list .list-item .list-child:nth-child(6) {
  width: 5%;
  text-align: right;
  padding-right: 0;
}
.list .list-item .dropdown-toggle::after {
  border: 0 !important;
}

/* Modal Settings */
.modal-content {
  padding: 20px;
}

.tm-modal p {
  font-size: 18px;
}
.tm-modal .buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.tm-modal .buttons a {
  font-size: 16px;
  font-weight: bold;
}
.tm-modal .buttons.justify-end {
  justify-content: flex-end;
}
.tm-modal .form-group label {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-weight: normal;
  text-transform: inherit;
}

.detail-content .detail-item {
  margin-top: 20px;
}
.detail-content .detail-item span {
  color: #0052CC;
  font-size: 16px;
  font-weight: normal;
}
.detail-content .detail-item div {
  color: #797979;
  font-weight: normal;
  margin-top: 5px;
}
.detail-content .detail-item div i {
  color: #0052CC;
}
.detail-content .detail-item div img {
  border: 5px solid #e8ecf7;
  border-radius: 5px;
}
.detail-content .detail-item div.activite-logs ul {
  padding-left: 15px;
}
.detail-content .detail-item div.activite-logs ul li {
  margin-bottom: 10px;
  font-weight: 500;
}
.detail-content .detail-item div.activite-logs ul li span {
  color: #797979;
}

/* Filter */
.filters {
  width: 300px;
  padding: 15px;
}
.filters span {
  display: block;
  margin-top: 15px;
  margin-bottom: 5px;
}
.filters span:first-child {
  margin-top: 0;
}
.filters .buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.filters .buttons a {
  font-size: 14px;
}

/* Shelf Control Form */
.shelf-control-form {
  display: flex;
  justify-content: center;
}
.shelf-control-form .questions {
  width: 700px;
  max-width: 100%;
}
.shelf-control-form .questions .question {
  background: #fff;
  box-shadow: 10px 10px 10px #dbe0e7;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 25px;
}
.shelf-control-form .questions .question p {
  font-size: 16px;
  margin-bottom: 0;
}
.shelf-control-form .questions .question p sup {
  font-weight: bold;
  color: red;
}
.shelf-control-form .questions .question .buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  border-top: 1px solid #eee;
  padding-top: 10px;
}
.shelf-control-form .questions .question .buttons a {
  font-size: 14px;
  font-weight: bold;
}
.shelf-control-form .questions .button {
  margin-bottom: 30px;
  text-align: center;
}

/*# sourceMappingURL=tm.css.map */
